@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --bg-color: #1f1f21;
  --text-color: #fff;
  --main-color: #ffae00;
  --big-font: 6rem;
  --p-font: 1.1rem;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  transition: all ease 0.45s;
}
.logo {
  color: var(--text-color);
  font-size: 41px;
  font-weight: 600;
}
.logo span {
  color: var(--main-color);
}
.navbar {
  display: flex;
}
.navbar a {
  font-size: var(--p-font);
  font-weight: 500;
  color: var(--text-color);
  margin: 0 25px;
  transition: all ease 0.5s;
}
.navbar a:hover {
  color: var(--main-color);
}
.navbar a.active {
  color: var(--main-color);
}
.menu-btn {
  background: linear-gradient(130.8deg, #383528 0%, #191919 100%);
  box-shadow: 0px 20px 40px #1e1e1e70;
  border: 1px solid #3b3b3b;
  padding: 10px 20px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#menu-icon {
  font-size: 28px;
  margin-left: 10px;
  z-index: 6;
}
section {
  padding: 0 15%;
}
.home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.home-img {
  width: 730px;
  height: 730px;
}
.home-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.home-text span {
  padding: 5px 25px;
  background: linear-gradient(130.8deg, #383528 0%, #191919 100%);
  box-shadow: 0px 20px 40px #1e1e1e70;
  border: 1px solid #3b3b3b;
  border-radius: 100px;
  color: var(--text-color);
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}
.home-text h1 {
  font-size: var(--big-font);
  margin: 23px 0;
}
.home-text p {
  font-size: var(--p-font);
  font-weight: 400;
  color: #c3c3c3;
  line-height: 30px;
  margin-bottom: 30px;
}
.btn {
  display: inline-block;
  padding: 14px 34px;
  background: var(--main-color);
  color: var(--text-color);
  border: 2px solid var(--main-color);
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.6s ease-in-out;
}
.btn:hover {
  transform: translateY(-5px);
  background: transparent;
  color: var(--main-color);
}
.two {
  background: #141414;
  border: 2px solid #141414;
  color: var(--text-color);
  margin-left: 25px;
}
.two:hover {
  color: #141414;
  background: var(--text-color);
  border: 2px solid var(--text-color);
}
.share {
  position: absolute;
  bottom: 3rem;
  left: 15%;
  display: flex;
  align-items: center;
}
.share p {
  font-size: 17px;
  color: var(--text-color);
  margin-right: 25px;
}
.social i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  background: linear-gradient(130.8deg, #383528 0%, #191919 100%);
  box-shadow: 0px 20px 40px #1e1e1e70;
  border: 1px solid #3b3b3b;
  border-radius: 50%;
  color: var(--text-color);
  font-size: 20px;
  margin: 0 7px;
  transition: all 0.6s ease-in-out;
}
.social i:hover {
  transform: translateY(-10px);
}

/* Media Queries */

@media (max-width: 1850px) {
  header {
    padding: 15px 8%;
  }
  section {
    padding: 0 8%;
    transition: 0.2s;
  }
  .share {
    left: 8%;
    transition: 0.2s;
  }
}
@media (max-width: 1370px) {
  header {
    padding: 15px 4%;
    transition: 0.2s;
  }
  section {
    padding: 0 4%;
    transition: 0.2s;
  }
  .share {
    left: 4%;
    transition: 0.2s;
  }
  :root {
    --big-font: 5.2rem;
    --p-font: 1rem;
    transition: 0.2s;
  }
}
@media (max-width: 1020px) {
  .navbar a {
    margin: 0 15px;
  }
  :root {
    --big-font: 5rem;
    --p-font: 1rem;
    transition: 0.2s;
  }
}
@media (max-width:950px)
{
    .share{
        display: none;
    }
    section 
    {
        padding: 70px 4%;
    }
    header
    {
        padding: 11px 4%;
        background: #2d2d2d;
    }
    .home
    {
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .home-text
    {
        order: 2 ;
    }
    .home-img
    {
        margin: auto;
        height: auto;
        width: auto;
    }
    .home-img img
    {
        max-width: 450px;
        width: 100%;
        height: auto;
    }
}
@media (max-width:850px)
{
    .navbar{
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 40px 50px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        background: #2d2d2d;
        transition: all 0.4s ease-in-out;
    }
    .navbar a
    {
        display: block;
        color: #c3c3c3;
        padding: 0px;
        margin: 0px 0px 40px 0px;
        font-size: 2rem;
        font-weight: 400;
    }
    .navbar.open
    {
        left: 0;
    }
}

@media(max-width:550px)
{
    :root {
        --big-font: 4rem;
        --p-font: 15px;
        transition: 0.2s;
      }
      .btn
      {
        padding: 9px 28px;
      }
}

.home-img img{
    animation: animate 2s ease-in-out infinite;
    animation-delay: 2s;
}
@keyframes animate 
{
    0%
    {
        transform: translateY(0);
    }
    50%
    {
        transform: translateY(-22px);
    }
}